

/* Hide scrollbar for IE, Edge and Firefox */
.detail {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width:none;
    /* Firefox */
}

.deatil::-webkit-scrollbar{
    display: none;
    
}
.drive{
    color: #000000;
    color: #ffffff;
    color: #ff0000;
    color: #808080;
}
.admin_menu::-webkit-scrollbar{
    display: none;
    width: 3px;
}
.admin_menu{
    
    scrollbar-width: 2px;
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }
}
.admin_menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    
  }